/* --- Root variables for light theme --- */
:root {
  --background: #ffffff; /* page background */
  --foreground: #000000; /* text color */
}

/* --- Global resets --- */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --- Links --- */
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
